/target/
/.idea/
/dist/
.states.json
repomix*.*
zone_sniper.code-workspace
/.continue/
_private/
# Ignore all .bin files in the /data folder
/kline_data/kd*.bin
# But not demo files
!/kline_data/demo*.bin


